/* Stylesheet for Secret Agent Supply Inc project by Sarah Wynn March 2018 */


html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  color: white;
  background-color: black;
  width: 960px; /* site container */
  /* z-index: 1; */
}

#logo-banner {
  display: flex;
  align-items: center;
}

#logo-banner img {
  height: 1.5rem;
  padding: 0.5rem;
}

#logo-banner span {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

#main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
}

footer {
margin: 40px;
}
