/* Stylesheet for Secret Agent Supply Inc project by Sarah Wynn March 2018 */


html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  /* display: flex;
  flex-direction: column; */
  color: white;
  background-color: black;
  /*flex-basis: 960px;*/ /* site container */
}

/* ----------------------------- */

#logo-banner {
  display: flex;
  align-items: center;
}

#logo-banner img {
  height: 1.5rem;
  padding: 0.5rem;
}

#logo-banner span {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/* ----------------------------- */

#main-banner {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-color: grey; /* backup color */
  background-size: cover;
  /* flex-basis: 25rem; */
  /* overflow: hidden; */
}

#main-banner div {
  font-weight: bold;
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem; /* Puts black space between the words and the motorbike picture. */
  margin-bottom: 4.75rem; /* This puts space between the bottom of the title and the bottom of the motorbike image. */
}

#main-banner h2 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

#main-banner h3 {
  font-size: 2rem;
}

/* ----------------------------- */


footer {
margin: 40px;
}
